#admin-show, #show-guest{
    height: 100vh;
    padding-top: 40px;
    .my-card {
        margin-top: 40px;
        max-width: 1200px;
        min-height: 500px;
        background-color: rgba(255, 255, 255, 0.351);
        backdrop-filter: blur(6px);
        padding: 15px 20px;
        border: 2px solid black;
            .my-card-body {

                display: flex;
                flex-direction: column;
                height: 100%;
                h1{
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                p{
                    height: 100%;
                    flex-grow: 1;
                }

                .info{
                    span {
                        margin-left: 5px;
                    }
                }
            }
    }
}

